.movies_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.movies_item {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

.movies__title {
  margin-bottom: 16px;
}

.movies__overview {
  height: 100px;
  font-size: 14px;
  margin-bottom: 10px;
}

.movies__bottom {
  display: flex;
  align-items: center;
  gap: 10px;
}

.movies__bottom .score {
  font-size: 12px;
  color: #999;
  margin-right: auto;
}


.write_btn {
  display: inline-block;
  background-color: #0076fd;
  color: #fff;
  border-radius: 6px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.supa_form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.supa_form .inputs {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.supa_form input, .supa_form textarea {
  padding: 6px;
}

.supa_form .btns {
  display: flex;
  gap: 10px;
}