.weather_container {
  max-width: 300px;
  margin: 0 auto;
}

.weather_search {
  margin-bottom: 20px;
}

.weather_search input {
  width: 100%;
  padding: 10px;
}

.weather {
  height: 400px;
  background-image: linear-gradient(0deg, #995699 0%, #35ddf0 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: 5px;
  color: #fff;
}

.weather h3 {
  font-size: 50px;
}

.weather .temp {
  font-size: 30px;
  margin-bottom: 30px;
}
